#my-wrap-contact{
    
    .my-btn{
        background-color:rgb(37, 82, 207);
        color:white;
        border: 2px solid transparent;
        &:hover{
            background-color:white;
            color:rgb(37, 82, 207);
            transform: scale(1.1);
            border:2px solid rgb(37, 82, 207);
        }
    }

    .my-btn-delate{
    
        background-color: red;
        color:white;
        border:2px solid transparent;

        &:hover{
            background-color: white;
            color:red;
            transform: scale(1.1);
            border:2px solid red;
        }
    
    }
    
    .my-text-color{
        color:rgb(37, 82, 207);
    }
}