#my-wrap-homepage{

    .div-height{
        height: 80px;
    }
    
    .navbar{
        height: 80px;

    }

    .my-text-blue{
        color:rgb(37, 82, 207);
    }

    .my-bg-blue{
        background-color: $myBlue;
    }

    .my-header{
        .navbar {
            background-color: #131313;
        }
        .nav-active {
            background-color: white;
        }
    }

    .navbar-brand{
        font-size: 30px;
    }

    a {
        text-decoration: none;
    }

    /* .my-main-padding{
        padding-bottom: 45px;
    } */
    
    // FOOTER APP BLADE
    .my-footer{
        background-color: rgb(233, 231, 231);
        // position: fixed;
        // left: 0;
        // bottom: 0;
        // width: 100%;
        // position:absolute;
      /*  height: 195px;  */

        ul{
            list-style-type:none;
            a{
                text-decoration: none;
            }
        }
    }
}

.my_blue {
    color: $myBlue;
}

.my_bg-black{
    background-color: $myBlack;
}

.my_black-text{
    color: #3b3b3b;
}

.my_bg-white{
    background-color: white;
    color: #131313; 
}
.my_hidden{
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

// .auth-footer-fix{
//     height: calc(100vh - 345px);}

#my-footer-second{
    background-color: rgb(233, 231, 231);
}
.navbar-light{
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1) all !important;
}
.navbar-dark{
    transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1) all !important;
}