#my-wrap-homepage{
    .navbar{
        height: 80px;
        
    }

    .user-nav {
        color: #ffc107;

        :hover{
            color: #ffdb6f;
        }
    }

    .navbar-brand{
        font-size: 30px;
    }
}