#my-wrap-homepage{
    .navbar{
        height: 80px;
        
    }
    .my-header{
        .navbar {
            background-color: #131313;
        }
        .nav-active {
            background-color: white;
        }
    }

    .navbar-brand{
        font-size: 30px;
    }
}

.my_blue {
    color: $myBlue;
}

.my_black{
    background-color: $myBlack;
}

.my_black-text{
    color: #3b3b3b;
}

.my_white{
    background-color: white;
    color: #131313; 
}