#my-container-welcome-page{
    height:1800px; //grandezza prove (poi da rimuovere)

    .my-wrap-black-container{
        height: 1000px; //grandezza prove (poi da rimuovere)
        margin-bottom: 400px;

        color:white;
        background-color: rgb(19, 19, 19);
        padding-top: 80px;
    }
    #my-jumbotron-apartamnets{
        height: 500px;

        background-image: url('/images/jumbotron-prova-2.jpg');
        background-position: center;
        background-size: cover;
        
        border-radius:10px;
    }

    #my-section-sponsorship{
        background-color: rgb(230, 227, 227);
        color:white;

        background-image: url('/images/jumbotron-sponsor.jpg');
        background-position: center;
        background-size: cover;

        margin-top:250px;
        height: 500px;

        border-radius: 10px;
    }
}